<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.levent8421.wechat.tools.model.repository.mapper.SuperCtlActionMapper">
    <resultMap id="rm_base" type="com.levent8421.wechat.tools.commons.entity.SuperCtlAction"
               extends="com.levent8421.wechat.tools.model.repository.basic.AbstractMapper.rm_base">
        <id column="sc_a_id" property="id"/>
        <result column="sc_a_device_id" property="deviceId"/>
        <result column="sc_a_type_code" property="typeCode"/>
        <result column="sc_a_state_json_before" property="stateJsonBefore"/>
        <result column="sc_a_state_json_expect" property="stateJsonExpect"/>
        <result column="sc_a_state_json_after" property="stateJsonAfter"/>
        <result column="sc_a_start_time" property="startTime"/>
        <result column="sc_a_complete_time" property="completeTime"/>
        <result column="sc_a_state_code" property="stateCode"/>
        <result column="sc_a_response_msg" property="responseMsg"/>
        <result column="sc_a_create_time" property="createTime"/>
        <result column="sc_a_update_time" property="updateTime"/>
        <result column="sc_a_deleted" property="deleted"/>
    </resultMap>
    <sql id="columns">
        id                as sc_a_id,
        device_id         as sc_a_device_id,
        type_code         as sc_a_type_code,
        state_json_before as sc_a_state_json_before,
        state_json_expect as sc_a_state_json_expect,
        state_json_after  as sc_a_state_json_after,
        start_time        as sc_a_start_time,
        complete_time     as sc_a_complete_time,
        state_code        as sc_a_state_code,
        response_msg      as sc_a_response_msg,
        create_time       as sc_a_create_time,
        update_time       as sc_a_update_time,
        deleted           as sc_a_deleted
    </sql>
    <sql id="base_select">
        select
        <include refid="columns"/>
        from t_super_ctl_action as sc_a
        where sc_a.deleted = false
    </sql>
</mapper>